@using Auto_Manager_Hub.DataAccess.Functions.TVF
@model List<MakeModelsWithSubModels>



@if (TempData["MakeName"] is not null)
{
    <h2>All Models Of The @TempData["MakeName"]</h2>
}

<div style="display:inline-block">
    <div class="badge bg-primary text-wrap w-auto p-2 mb-2" style="width: 6rem;">
        Total number of rows : @Model.Count()
    </div>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Make ID</th>
            <th>Make Name</th>
            <th>Model Name</th>
            <th>SubModel Name</th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Any())
        {
            <h3>There is No Models For This Make !</h3>
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Make_ID</td>
                    <td>@item.Make_Name</td>
                    <td>@item.Model_Name</td>
                    <td>@item.SubModel_Name</td>
                </tr>
            }
        }
    </tbody>
</table>

<a class="btn btn-primary mr-3" asp-controller="Make" asp-action="Index">Back To Makes</a>
<a class="btn btn-primary ml-2" asp-controller="MakeModels" asp-action="GenerateExcel" asp-route-ID = "@Model?.FirstOrDefault()?.Make_ID">
    Download As Excel Sheet <i class="bi bi-filetype-xlsx"></i>
</a>